.change-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.change-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.change-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-password-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.change-password-container button {
  padding: 12px;
  background-color: #4fadad;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}


.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border: 2px solid white;
  border-top: 2px solid #4fadad;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
