
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 13rem;
  gap: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.routes-wrapper {
  flex: 0 0 auto;
  width: 400px;
}


